---
export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPages ? "" : "disabled";
---

{
  totalPages > 1 && (
    <nav aria-label="Pagination">
      <a href={prevUrl} class={`mr-4 select-none ${prev}`}>
        Prev
      </a>
      {currentPage} / {totalPages}
      <a href={nextUrl} class={`ml-4 select-none ${next}`}>
        Next
      </a>
    </nav>
  )
}
