---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Pagination from "../components/blog/Pagination.astro";
import { SITE } from "../config";
import Datetime from "../components/blog/Datetime";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout page="Blog" title={`${SITE.title} — Blog`}>
  <section class="pt-20">
    <ul class="flex flex-col gap-1">
      {
        paginatedPosts.map(({ data, slug }) => (
          <a
            href={`/blog/${slug}/`}
            class="flex justify-between gap-3 leading-4 opacity-70 hover:opacity-100 transition border-b border-tertiary py-2.5 sm:text-lg"
          >
            <span>{data.title}</span>
            <Datetime
              pubDatetime={data.pubDatetime}
              modDatetime={data.modDatetime}
            />
          </a>
        ))
      }
    </ul>

    <Pagination
      {currentPage}
      {totalPages}
      prevUrl={`/blog${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
      nextUrl={`/blog/${currentPage + 1}/`}
    />
  </section>
</Layout>
