---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/LayoutMain.astro";
import Pagination from "../components/blog/Pagination.astro";
import Card from "../components/blog/Card";
import { SITE } from "../config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout page="Blog" title={`Posts | ${SITE.title}`}>
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/blog/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/blog${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/blog/${currentPage + 1}/`}
  />
</Layout>
